Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-07, with the labels that each got.

#767 MGDSTRM-9050: expose generic mechanism for injecting additional broker configuration from the operand override
  ADVANCED.md
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
Labels: operator

#765 Enable cruisecontrol for standard 6 broker instances
  operator/src/main/resources/instances/standard.properties
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/strimzi_su2.yml
  operator/src/test/resources/expected/strimzi_su2_cc.yml
Labels: operator

#764 Add cruise control metrics config
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/resources/cruise-control-metrics.yaml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#768 [MGDSTRM-9117] Canary support provided TLS trusted certificate
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/operands/CanaryTest.java
Labels: operator

#758 MGDSTRM-8601- Allow configuration of Kafka exporter image via bundle
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#770 FSO release 0.25.0
  .github/project.yml
Labels: github_ci

#769 haproxy: allow configuration of hard-stop-after configuration and contstats.
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: bug, operator

#773 Set kafka.partition-limit-enforced to true
  operator/src/main/resources/instances/managedkafka.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#774 FSO release 0.26.0
  .github/project.yml
Labels: github_ci

#777 [MGDSTRM-7353] Remove Strimzi cluster role bindings w/o namespace match
  operator/src/main/java/org/bf2/operator/managers/StrimziClusterRoleBindingManager.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/StrimziClusterRoleBindingManagerTest.java
Labels: operator

#776 fix: spec/unsupportedConfigOverrides/reloadInterval backing var has wrong type
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
Labels: bug, operator

#779 Add GCP cluster support to OSD provision script
  perf/scripts/osd-provision.sh
  perf/templates/CCS_DEFINITION.template
Labels: perf

#775 MGDSTRM-8585 adding support for reserved deployments
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafka.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstance.java
  operator/src/main/java/org/bf2/operator/operands/ReservedDeploymentConverter.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/reserved-cruisecontrol.yml
  operator/src/test/resources/expected/reserved.yml
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  perf/src/main/java/org/bf2/performance/ManagedKafkaProvisioner.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/test/java/org/bf2/sync/PollerTest.java
Labels: operator, sync, perf, api
