Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-09, with the labels that each got.

#802 Release 0.28.0
  .github/project.yml
Labels: github_ci

#805 MGDSTRM-9275-Show Observabilty acceptence status in MKA
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
Labels: operator

#806 MGDSTRM-9567 MGDSTRM-9555 allowing for the transition from 3 to 2
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator

#798 MGDSTRM-9483 delaying deployment of admin/canary until kafka is ready
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/operands/AbstractAdminServer.java
  operator/src/main/java/org/bf2/operator/operands/AbstractCanary.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/DeploymentOperand.java
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
  operator/src/test/java/org/bf2/operator/operands/CanaryTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
Labels: operator

#808 [MGDSTRM-9509] Bump Strimzi API version from 0.26.0 to 0.29.0
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
  pom.xml
Labels: operator

#810 MGDSTRM-9508 making sure the developer instances are movable
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/resources/expected/developer-strimzi.yml
Labels: operator

#801 MGDSTRM-9498-Bugs flagged from sonarcloud integration
  operator/src/main/java/org/bf2/operator/events/ResourceEventSource.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  perf/src/main/java/org/bf2/performance/framework/ManagedKafkaStateAssertionParameterResolver.java
  systemtest/src/main/java/org/bf2/systemtest/operator/FleetShardOperatorManager.java
  test/src/main/java/org/bf2/test/TestUtils.java
Labels: test, operator, perf

#811 MGDSTRM-9666 removing labels that may change from reserved selectors
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/resources/expected/reserved-cruisecontrol.yml
  operator/src/test/resources/expected/reserved.yml
Labels: operator

#814 Fix upgrade test to use sync instead plain ManagedKafka CR
  systemtest/src/test/java/org/bf2/systemtest/integration/UpgradeST.java
Labels: test

#812 MGDSTRM-9284: Change broker log configuration to sync with upstream kafka and remove unused config
  operator/src/main/resources/kafka-logging.yaml
Labels: operator

#809 Excluding getter-setter from sonar
  api/pom.xml
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ClusterCapacity.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ClusterResizeInfo.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAgentSpec.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAgentStatus.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAuthenticationOAuth.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaCapacity.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaEndpoint.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaRoute.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaStatus.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/NodeCounts.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ObservabilityConfiguration.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/Profile.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/SecretKeySelector.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ServiceAccount.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/StrimziVersionStatus.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/TlsKeyPair.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/Versions.java
  lombok.config
Labels: api

#816 Release 0.29.0
  .github/project.yml
Labels: github_ci

#815 refining canary delete
  operator/src/main/java/org/bf2/operator/operands/AbstractCanary.java
Labels: operator

#737 Initial logic for actual capacity reporting
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAgentStatus.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ProfileCapacity.java
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/pom.xml
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/managers/CapacityManager.java
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfigurations.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaAgentControllerTest.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaControllerTest.java
  operator/src/test/java/org/bf2/operator/managers/CapacityManagerTest.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
  operator/src/test/java/org/bf2/operator/operands/CanaryTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/adminserver-affinity.yml
  operator/src/test/resources/expected/canary-nodeaffinity.yml
  perf/pom.xml
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  sync/src/main/java/org/bf2/sync/controlplane/MockControlPlane.java
Labels: operator, sync, perf, api

#819 MGDSTRM-8638 removing legacy capacity reporting fields
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ClusterCapacity.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ClusterResizeInfo.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAgentStatus.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/NodeCounts.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  sync/src/test/java/org/bf2/sync/AgentPollerTest.java
  systemtest/src/main/java/org/bf2/systemtest/framework/AssertUtils.java
Labels: test, operator, sync, api

#820 MGDSTRM-9815 accounting for local storage / emptyDir wrt autoscaling
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/resources/expected/broker-per-node-exporter.yml
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator
