Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-05, with the labels that each got.

#721 Add ability to change display name into osd-provision.sh
  perf/scripts/osd-provision.sh
Labels: perf

#723 UpgradeST do not check upstream strimzi version if strimzi sub is present
  systemtest/src/main/java/org/bf2/systemtest/operator/StrimziOperatorManager.java
Labels: test

#720 Add config to enable partition limit enforcement
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/instances/managedkafka.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
Labels: operator

#725 MGDSTRM-8409 cut down on modifications to the ingresscontroller
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator

#726 Expose some client metrics for quota plugin alerts
  operator/src/main/resources/kafka-metrics.yaml
Labels: operator

#719 Configure new version of the quota plugin
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/java/org/bf2/operator/operands/dev/DevelopmentKafkaCluster.java
  operator/src/main/resources/application.properties
  operator/src/main/resources/instances/managedkafka.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
Labels: operator

#727 Release 0.23.0
  .github/project.yml
Labels: github_ci

#728 Collect all pod logs from managedkafka instance
  systemtest/src/main/java/org/bf2/systemtest/framework/LogCollector.java
  systemtest/src/main/java/org/bf2/systemtest/operator/FleetShardOperatorManager.java
Labels: test

#729 Delete pull secret before create when type has changed
  operator/src/main/java/org/bf2/operator/managers/ImagePullSecretManager.java
  operator/src/test/java/org/bf2/operator/managers/ImagePullSecretManagerTest.java
Labels: operator

#730 Release 0.23.1
  .github/project.yml
Labels: github_ci

#708 upgrading to quarkus operator sdk 3.0.7
  common/src/main/java/org/bf2/common/health/LivenessHealthCheck.java
  common/src/test/java/org/bf2/common/health/LivenessHealthCheckTest.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/events/ResourceEvent.java
  operator/src/main/java/org/bf2/operator/events/ResourceEventSource.java
  operator/src/main/java/org/bf2/operator/managers/InformerManager.java
  operator/src/main/java/org/bf2/operator/managers/KafkaManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractAdminServer.java
  operator/src/main/java/org/bf2/operator/operands/AbstractCanary.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstance.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/java/org/bf2/operator/operands/Operand.java
  operator/src/main/java/org/bf2/operator/operands/dev/DevelopmentKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/test/NoDeploymentAdminServer.java
  operator/src/main/java/org/bf2/operator/operands/test/NoDeploymentCanary.java
  operator/src/main/java/org/bf2/operator/operands/test/NoDeploymentKafkaCluster.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaControllerTest.java
  operator/src/test/java/org/bf2/operator/events/ResourceEventSourceTest.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
  operator/src/test/java/org/bf2/operator/managers/MockOpenShiftSupport.java
  operator/src/test/java/org/bf2/operator/managers/StrimziManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceTest.java
  pom.xml
  sync/src/main/java/org/bf2/sync/controlplane/ControlPlane.java
  sync/src/main/java/org/bf2/sync/controlplane/MockControlPlane.java
  sync/src/test/java/org/bf2/sync/informer/CustomResourceEventHandlerTest.java
Labels: operator, sync

#731 Cleanup dependencies
  operator/pom.xml
  pom.xml
  sync/pom.xml
Labels: operator, sync

#712 Moving out from the managedKafka CR to secrets
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAuthenticationOAuth.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/SecretKeySelector.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ServiceAccount.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/TlsKeyPair.java
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/dev/DevelopmentKafkaCluster.java
  operator/src/test/java/org/bf2/operator/managers/SecuritySecretManagerTest.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
  sync/src/main/java/org/bf2/sync/informer/InformerManager.java
  sync/src/main/kubernetes/kubernetes.yml
Labels: operator, sync, api

#733 updating to the omb 0.0.1 release
  perf/pom.xml
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  perf/src/main/java/org/bf2/performance/OMB.java
  perf/src/main/java/org/bf2/performance/OMBDriver.java
Labels: perf

#734 Adding test for annotation
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
  sync/src/test/java/org/bf2/sync/PollerTest.java
Labels: sync
