Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-03, with the labels that each got.

#673 Refactor StrimziBundleManager unit tests to avoid the need for 'test-only' methods.
  operator/pom.xml
  operator/src/main/java/org/bf2/operator/managers/StrimziBundleManager.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/MockResourceInformerFactory.java
  operator/src/test/java/org/bf2/operator/managers/StrimziBundleManagerTest.java
  pom.xml
Labels: operator

#674 Refactor overlooked SBMTest.
  operator/src/test/java/org/bf2/operator/managers/StrimziBundleManagerTest.java
Labels: operator

#668 MGDSTRM-7464 switching the ingress sizing to be based on demand
  operator/src/main/java/org/bf2/operator/managers/InformerManager.java
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator

#675 using partitions to drive the selection of the number of brokers
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/java/org/bf2/operator/operands/dev/DevelopmentKafkaCluster.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  perf/src/main/java/org/bf2/performance/AdopterProfile.java
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  perf/src/main/java/org/bf2/performance/ManagedKafkaProvisioner.java
  perf/src/test/java/org/bf2/performance/ManagedKafkaValueProdMinimumTest.java
Labels: operator, perf

#669 Expose instance metrics
  common/src/main/java/org/bf2/common/ResourceInformer.java
  operator/src/main/java/org/bf2/operator/managers/InformerManager.java
  operator/src/main/java/org/bf2/operator/managers/MetricsManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/java/org/bf2/operator/managers/MetricsManagerTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
Labels: operator, sync

#677 Expose new quota plugin jmx metrics
  operator/src/main/resources/kafka-metrics.yaml
Labels: operator

#680 externalizing scaling and replication factor for single broker case
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/adminserver.yml
  operator/src/test/resources/expected/scaling-one.yml
Labels: operator

#676 Alter adminserver deployment depending on ConfigMap property (Quarkus)
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
  operator/src/test/resources/expected/adminserver-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls.yml
Labels: operator

#681 Fix unit test expectations
  operator/src/test/resources/expected/adminserver-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls.yml
  operator/src/test/resources/expected/scaling-one.yml
Labels: operator

#682 Correct the handling of metric updates.
  operator/src/main/java/org/bf2/operator/managers/MetricsManager.java
  operator/src/test/java/org/bf2/operator/managers/MetricsManagerTest.java
Labels: operator

#684 Correct several log format place-holders
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/managers/StrimziManager.java
Labels: operator

#683 Fix RESULTS_DIR variable when a cluster provision fails
  perf/scripts/osd-provision.sh
Labels: perf

#685 Release 0.20.0
  .github/project.yml
Labels: github_ci

#688 Remove hardcoded kafka version from systemtests and use available kafka from sync api
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafka.java
  perf/src/test/java/org/bf2/performance/OperatorST.java
  systemtest/src/main/java/org/bf2/systemtest/api/sync/SyncApiClient.java
  systemtest/src/main/java/org/bf2/systemtest/framework/resource/ManagedKafkaResourceType.java
  systemtest/src/test/java/org/bf2/systemtest/integration/ManagedKafkaST.java
  systemtest/src/test/java/org/bf2/systemtest/integration/SmokeST.java
  systemtest/src/test/java/org/bf2/systemtest/integration/UpgradeST.java
Labels: test, perf, api

#692 Remove strimzi duplicated tests
  systemtest/src/test/java/org/bf2/systemtest/integration/ManagedKafkaST.java
Labels: test

#691 MGDSTRM-7845 removing the possibility of the service npe
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
Labels: operator

#694 upping the memory request to match production load
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/resources/application.properties
Labels: operator

#686 Add scheme to `adminServerURI` in ManagedKafka status
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
Labels: operator

#696 Configure default sync properties for standalone deployment
  sync/src/main/resources/application.properties
Labels: sync
