Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-04, with the labels that each got.

#695 Retrieval of Kafka, Canary, and Admin server images from annotations
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/managers/StrimziManager.java
  operator/src/test/java/org/bf2/operator/managers/StrimziManagerTest.java
Labels: operator

#700 Make OAuth clientId and clientSecret optional
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAuthenticationOAuth.java
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
Labels: operator, api

#701 Remove handling for non-Quarkus admin server
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
  operator/src/test/resources/expected/adminserver-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls-quarkus.yml
  operator/src/test/resources/expected/adminserver-tls.yml
  operator/src/test/resources/expected/adminserver.yml
Labels: operator

#704 bugfix: compensate for the ext4 formatting overhead in storage calculations
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/instances/managedkafka.properties
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
Labels: operator

#705 Update project.yml for next release of FSO 0.21.0
  .github/project.yml
Labels: github_ci

#706 Update project.yml for next release of FSO 0.21.0
  .github/project.yml
Labels: github_ci

#707 MGDSTRM-7790 adding a delay to modifying the ingress deployment
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
Labels: operator

#711 Release CI updates, use bf2-ci-bot account
  .github/workflows/release.yml
  README.md
Labels: github_ci

#709 Calculate secret digest using data values to prevent spurious updates
  operator/src/main/java/org/bf2/operator/managers/ImagePullSecretManager.java
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
Labels: operator

#713 Release 0.22.0
  .github/project.yml
Labels: github_ci

#714 Configure CI bot email for release commits
  .github/workflows/release.yml
Labels: github_ci

#716 copying only the labels and annotations
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
Labels: sync

#717 Release 0.22.1
  .github/project.yml
Labels: github_ci

#718 fix #660: removing set -e as that causes the shell to later terminate
  perf/scripts/update_env.sh
Labels: perf
