Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-06, with the labels that each got.

#736 Use new prefix for broker plugins properties
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/application.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
Labels: operator

#741 Add option for specifying the addon json when installing addon
  perf/scripts/osd-provision.sh
Labels: perf

#739 [MGDSTRM-8716] Decode values when reading from master-secret
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/test/java/org/bf2/operator/managers/SecuritySecretManagerTest.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
Labels: operator, sync

#740 Add kafka_broker_state as an exported metric
  operator/src/main/resources/kafka-metrics.yaml
Labels: operator

#744 Fixed error when no quota is available and wanted to reuse an already installed cluster
  perf/scripts/osd-provision.sh
Labels: perf

#743 Configure `com.sun.management.jmxremote.rmi.port` so that we can port…
  ADVANCED.md
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
Labels: operator

#745 Add ability to wait until cluster is hibernated/resumed/deleted
  perf/scripts/osd-provision.sh
Labels: perf

#752 Create 0.24.0 release
  .github/project.yml
Labels: github_ci

#747 Keeping the state ordinal as the value turns out to have a valid use …
  operator/src/main/resources/kafka-metrics.yaml
Labels: operator

#753 [MGDSTRM-8880] Avoid NPE when informer event handler is null
  common/src/main/java/org/bf2/common/ResourceInformerFactory.java
Labels: operator, sync

#755 [MGDSTRM-8940] Fix null check when mapping OAuth/SSO trusted certificate
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/test/java/org/bf2/operator/managers/SecuritySecretManagerTest.java
Labels: bug, operator

#757 Release 0.24.2
  .github/project.yml
Labels: github_ci

#759 [MGDSTRM-8959] Delay KafkaInstance reconcile until master secret created
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ServiceAccount.java
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstance.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceTest.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
Labels: operator, sync, api

#746 MGDSTRM-8876 changing all child events to updates
  operator/src/main/java/org/bf2/operator/events/ResourceEventSource.java
  operator/src/test/java/org/bf2/operator/events/ResourceEventSourceTest.java
Labels: operator

#761 creating Release 0.24.3
  .github/project.yml
Labels: github_ci
