Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-11, with the labels that each got.

#829 MGDSTRM-10039 elevating the priority of broker and zookeeper pods
  operator/src/main/java/org/bf2/operator/managers/OperandOverrideManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/main/resources/instances/standard-dynamic.properties
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceConfigurationsTest.java
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
  perf/src/main/java/org/bf2/performance/ManagedKafkaProvisioner.java
Labels: operator, perf

#830 [MGDSTRM-10052] Set Strimzi bundle install plan to Manual
  operator/src/main/java/org/bf2/operator/managers/StrimziBundleManager.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/test/java/org/bf2/operator/managers/StrimziBundleManagerTest.java
Labels: operator

#771 [MGDSTRM-9789] Suspend (and resume) Kafka instance based on label
  api/src/main/java/org/bf2/operator/ManagedKafkaKeys.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafka.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaCondition.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaStatus.java
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/pom.xml
  operator/src/main/java/org/bf2/operator/clients/canary/CanaryPodExecutorService.java
  operator/src/main/java/org/bf2/operator/clients/canary/CanaryService.java
  operator/src/main/java/org/bf2/operator/clients/canary/CanaryStatusService.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/managers/InformerManager.java
  operator/src/main/java/org/bf2/operator/managers/KafkaManager.java
  operator/src/main/java/org/bf2/operator/managers/MetricsManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/Canary.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstance.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/MockResourceInformerFactory.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaControllerTest.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaSuspensionIT.java
  operator/src/test/java/org/bf2/operator/managers/KafkaManagerTest.java
  operator/src/test/java/org/bf2/operator/managers/StrimziManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/AdminServerTest.java
  operator/src/test/java/org/bf2/operator/operands/CanaryTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
  pom.xml
Labels: operator, sync, api

#833 MGDSTRM-10069 updating the properties based upon additional testing
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator

#836 Updating usage message
  perf/scripts/osd-provision.sh
Labels: perf

#835 MGDSTRM-10130 addressing test inconsistency
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerWithProfilesTest.java
Labels: operator

#837 MGDSTRM-10145: Adding support for auto-scaling
  perf/scripts/osd-provision.sh
  perf/templates/CCS_DEFINITION.template
Labels: perf

#838 MGDSTRM-10070 updating default connections to 9000
  perf/src/main/java/org/bf2/performance/InstanceProfiler.java
Labels: perf
