Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-12, with the labels that each got.

#842 Release 0.32.0
  .github/project.yml
Labels: github_ci

#844 [MGDSTRM-10280] Apply default storage class to standard-dynamic profile
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfigurations.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceConfigurationsTest.java
Labels: operator

#843 MGDSTRM-10277 hardening the sync against unhealthy behavior
  common/src/main/java/org/bf2/common/health/SystemTerminator.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/test/java/org/bf2/sync/PollerTest.java
Labels: operator, sync

#845 Release 0.32.1
  .github/project.yml
Labels: github_ci

#846 [MGDSTRM-10315] Restore simple ReconciliationPaused condition check for StrimziUpdating
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  systemtest/src/main/java/org/bf2/systemtest/operator/FleetShardOperatorManager.java
  systemtest/src/main/java/org/bf2/systemtest/operator/StrimziOperatorManager.java
Labels: test, operator

#841 [MGDSTRM-10098] - Removing 9096 listener accessibility from other pods
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator
