Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2022-08, with the labels that each got.

#782 MGDSTRM-9334 correcting the defaults for developer instances
  operator/src/main/resources/instances/developer.properties
  operator/src/test/resources/expected/developer-strimzi.yml
Labels: operator

#781 MGDSTRM-9291-Enable Sonarcloud integration for kas-fleetshard
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  api/pom.xml
  pom.xml
Labels: api, github_ci

#785 Fix for sonar target paths
  .github/workflows/build.yml
Labels: github_ci

#778 MGDSTRM-9192: add custom topic config policy settings
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/application.properties
  operator/src/main/resources/instances/developer.properties
  operator/src/main/resources/instances/standard.properties
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#772 MGDSTRM-8991 making sure the observability secret has an owner
  operator/src/main/java/org/bf2/operator/managers/ObservabilityManager.java
  operator/src/test/java/org/bf2/operator/managers/ObservabilityManagerTest.java
Labels: operator

#788 Perform release action as `bf2robot`
  .github/workflows/release.yml
Labels: github_ci

#790 MGDSTRM-9388 making the logic tolerant to multiple webhook configs
  operator/src/main/java/org/bf2/operator/managers/DrainCleanerManager.java
  operator/src/test/java/org/bf2/operator/managers/DrainCleanerManagerTest.java
Labels: operator

#789 MGDSTRM-9230 removing the drain cleaner pdb for a single replica
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
Labels: operator

#791 Release 0.27.0
  .github/project.yml
Labels: github_ci

#792 MGDSTRM-9425: retention.ms missing from managedkafka.kafka.topic-config-mutable-rule config
  operator/src/main/resources/application.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#793 Release 0.27.1
  .github/project.yml
Labels: github_ci

#797 [MGDSTRM-8267] Set storage class by cluster provider type or default
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfigurations.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/MockOpenShiftSupport.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceConfigurationsTest.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#799 [MGDSTRM-9354] Consolidate `managedkafka.bf2.org` label/annotation
  api/src/main/java/org/bf2/operator/ManagedKafkaKeys.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafka.java
  api/src/main/java/org/bf2/operator/resources/v1alpha1/ManagedKafkaAgent.java
  api/src/test/java/org/bf2/operator/ManagedKafkaKeysTest.java
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/java/org/bf2/operator/managers/KafkaManager.java
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/main/java/org/bf2/operator/managers/StrimziManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/dev/DevelopmentKafkaCluster.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaControllerTest.java
  operator/src/test/java/org/bf2/operator/managers/StrimziManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
  sync/src/test/java/org/bf2/sync/PollerTest.java
  systemtest/src/main/java/org/bf2/systemtest/operator/StrimziOperatorManager.java
Labels: test, operator, sync, api

#800 [MGDSTRM-9354] Pause ManagedKafka reconciliation based on annotation
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/events/ControllerEventFilter.java
  operator/src/main/java/org/bf2/operator/managers/MetricsManager.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstance.java
  operator/src/test/java/org/bf2/operator/events/ControllerEventFilterTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaInstanceTest.java
  pom.xml
Labels: operator

#794 remove now redundant broker plugins properties
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/application.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator
