Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2023-01, with the labels that each got.

#850 MGDSTRM-9181: Have kas ingress controller utilise the openshift-router's dynamic config manager.
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/AdminServer.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/main/resources/application.properties
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator, sync

#853 Update to Release 0.32.2
  .github/project.yml
Labels: github_ci

#856 bug fix: create blueprints for suspended routes too
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/resources/application.properties
Labels: operator

#857 Release 0.32.3
  .github/project.yml
Labels: github_ci

#854 [MGDSTRM-9790] Test instance upgrade while suspended
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/resources/application.properties
  sync/src/main/java/org/bf2/sync/ManagedKafkaAgentSync.java
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/main/java/org/bf2/sync/controlplane/MockControlPlane.java
  sync/src/main/java/org/bf2/sync/informer/InformerManager.java
  sync/src/main/resources/application.properties
  systemtest/src/main/java/org/bf2/systemtest/api/sync/SyncApiClient.java
  systemtest/src/main/java/org/bf2/systemtest/framework/SecurityUtils.java
  systemtest/src/main/java/org/bf2/systemtest/framework/TestPlanExecutionListener.java
  systemtest/src/main/java/org/bf2/systemtest/operator/FleetShardOperatorManager.java
  systemtest/src/main/java/org/bf2/systemtest/operator/KeycloakOperatorManager.java
  systemtest/src/test/java/org/bf2/systemtest/integration/AbstractST.java
  systemtest/src/test/java/org/bf2/systemtest/integration/ManagedKafkaST.java
  systemtest/src/test/java/org/bf2/systemtest/integration/SmokeST.java
  systemtest/src/test/java/org/bf2/systemtest/integration/UpgradeST.java
  systemtest/src/test/java/org/bf2/systemtest/unit/SuiteUnitTest.java
  test/src/main/java/org/bf2/test/TestUtils.java
Labels: test, operator, sync

#859 MGDSTRM-10459 changing the reloadInterval tuning option to a string
  operator/src/main/java/org/bf2/operator/managers/IngressControllerManager.java
  operator/src/test/java/org/bf2/operator/managers/IngressControllerManagerTest.java
Labels: operator

#858 MGDSTRM-10104: configure kafka with smaller sasl.server.max.receive.size
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaInstanceConfiguration.java
  operator/src/main/resources/instances/managedkafka.properties
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/scaling-one.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#851 MGDSTRM-10325: Delete Strimzi cluster operator leadership lease on deployment deletion
  operator/src/main/java/org/bf2/operator/managers/StrimziManager.java
  operator/src/main/kubernetes/kubernetes.yml
  operator/src/test/java/org/bf2/operator/MockResourceInformerFactory.java
  operator/src/test/java/org/bf2/operator/managers/StrimziManagerTest.java
Labels: operator

#860 [MGDSTRM-10349] Publish kas-fleetshard artifacts to GitHub packages
  .github/workflows/publish.yml
  api/pom.xml
  common/pom.xml
  operator/pom.xml
  perf/pom.xml
  pom.xml
  sync/pom.xml
  systemtest/pom.xml
  test/pom.xml
Labels: test, operator, sync, perf, api, github_ci
