Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2023-03, with the labels that each got.

#872 MGDSTRM-10781 adding a jsonproperty as a hint to the crd generator
  api/src/main/java/org/bf2/operator/resources/v1alpha1/NetworkConfiguration.java
  bundle/pom.xml
  bundle/src/main/java/org/bf2/kas/fleetshard/bundle/BundleAssembler.java
  bundle/src/test/java/org/bf2/kas/fleetshard/bundle/BundleAssemblerTest.java
  bundle/src/test/resources/expected-bundle/manifests/kas-fleetshard-operator.clusterserviceversion.yaml
  bundle/src/test/resources/expected-bundle/manifests/managedkafkaagents.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/operator-archive/kubernetes.yml
  bundle/src/test/resources/operator-archive/manifests/kas-fleetshard-operator.clusterserviceversion.yaml
  bundle/src/test/resources/operator-archive/manifests/managedkafkaagents.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/operator-archive/manifests/managedkafkas.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/operator-archive/metadata/annotations.yaml
  bundle/src/test/resources/patch.json
  bundle/src/test/resources/sync-archive/kubernetes.yml
  pom.xml
Labels: api

#875 Release 0.34.0
  .github/project.yml
Labels: github_ci

#873 [MGDSTRM-10764] Update Keycloak to version 21 for OpenShift 4.12
  systemtest/pom.xml
  systemtest/src/main/java/org/bf2/systemtest/framework/KeycloakInstance.java
  systemtest/src/main/java/org/bf2/systemtest/framework/LogCollector.java
  systemtest/src/main/java/org/bf2/systemtest/framework/SystemTestEnvironment.java
  systemtest/src/main/java/org/bf2/systemtest/operator/KeycloakOperatorManager.java
  systemtest/src/main/resources/keycloak-instance.yml
  systemtest/src/main/resources/keycloak-postgres.yml
  systemtest/src/main/resources/keycloak-realm.yml
  systemtest/src/main/resources/keycloak.yml
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/java/org/bf2/systemtest/unit/SuiteUnitTest.java
Labels: test

#877 MGDSTRM-10828 updating github actions
  .github/workflows/auto-labeler.yaml
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/smoke.yaml
  .github/workflows/sonar.yml
  .github/workflows/test.yaml
Labels: github_ci

#870 MGDSTRM-10094 making KafkaCluster.fromKafka not modify the ManagedKafka
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/managers/KafkaManager.java
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  operator/src/test/java/org/bf2/operator/controllers/ManagedKafkaControllerTest.java
  operator/src/test/java/org/bf2/operator/managers/KafkaManagerTest.java
  operator/src/test/java/org/bf2/operator/operands/KafkaClusterTest.java
Labels: operator, sync

#878 addressing most severe sonar complaints
  .github/workflows/sonar.yml
  operator/src/main/java/org/bf2/operator/managers/SecuritySecretManager.java
  operator/src/main/java/org/bf2/operator/managers/StrimziBundleManager.java
  operator/src/main/java/org/bf2/operator/mock/MockManagedKafkaFactory.java
  operator/src/main/java/org/bf2/operator/operands/KafkaCluster.java
  sync/src/main/java/org/bf2/sync/SecretManager.java
  sync/src/main/java/org/bf2/sync/controlplane/MockControlPlane.java
  sync/src/main/java/org/bf2/sync/informer/SecretRestartHandler.java
  systemtest/src/main/java/org/bf2/systemtest/api/sync/SyncApiClient.java
  systemtest/src/main/java/org/bf2/systemtest/framework/SecurityUtils.java
Labels: test, operator, sync, github_ci

#879 [MGDSTRM-10786] Disable java-operator-sdk controller metrics by default
  operator/src/main/java/org/bf2/operator/controllers/DisabledOperatorSdkMetrics.java
Labels: operator

#881 MGDSTRM-10828 more github action updates
  .github/workflows/pre-release.yml
  .github/workflows/sonar.yml
Labels: github_ci

#880 MGDSTRM-10828 adding dependabot for github actions
  .github/dependabot.yml
Labels: github_ci

#883 MGDSTRM-10879 adding control plane directed pause handling
  sync/src/main/java/org/bf2/sync/ManagedKafkaSync.java
  sync/src/test/java/org/bf2/sync/PollerTest.java
Labels: sync

#886 MGDSTRM-10985 accounting for the possibility of competing operators
  operator/src/main/java/org/bf2/operator/managers/CapacityManager.java
  operator/src/test/java/org/bf2/operator/managers/CapacityManagerTest.java
Labels: operator

#888 Approve Strimzi installation immediately when CSV not present
  operator/src/main/java/org/bf2/operator/managers/StrimziBundleManager.java
  operator/src/test/java/org/bf2/operator/managers/StrimziBundleManagerTest.java
Labels: operator

#890 Release 0.35.0
  .github/project.yml
Labels: github_ci
