Repository bf2fc6cc711aee1a0c2a/kas-fleetshard, pull requests merged in 2023-02, with the labels that each got.

#863 MGDSTRM-9751 - JOSDK and fabric8 update
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
  operator/src/main/java/org/bf2/operator/events/ControllerEventFilter.java
  operator/src/main/java/org/bf2/operator/events/ResourceEventSource.java
  operator/src/test/java/org/bf2/operator/events/ControllerEventFilterTest.java
  pom.xml
Labels: operator

#864 MGDSTRM-10569 Release 0.33.0
  .github/project.yml
Labels: github_ci

#866 [MGDSTRM-10669] Allow access via 9096 for any Kafka pod in namespace
  operator/src/main/java/org/bf2/operator/operands/AbstractKafkaCluster.java
  operator/src/test/resources/expected/custom-config-strimzi.yml
  operator/src/test/resources/expected/developer-strimzi.yml
  operator/src/test/resources/expected/strimzi.yml
  operator/src/test/resources/expected/strimzi_su2.yml
Labels: operator

#867 Release 0.33.1
  .github/project.yml
Labels: github_ci

#868 Minor clean up of tech debt
  api/src/main/java/org/bf2/operator/resources/v1alpha1/Versions.java
  api/src/test/java/org/bf2/resources/VersionsTest.java
  common/src/main/java/org/bf2/common/AbstractCustomResourceClient.java
  common/src/main/java/org/bf2/common/OperandUtils.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaAgentController.java
  operator/src/main/java/org/bf2/operator/controllers/ManagedKafkaController.java
Labels: operator, sync, api

#869 [MGDSTRM-10711] Add operator/sync "high" priority class
  operator/src/main/kubernetes/kubernetes.yml
  sync/src/main/kubernetes/kubernetes.yml
Labels: operator, sync

#871 [MGDSTRM-10719] Add build/push of bundle and index images
  .github/workflows/sonar.yml
  README.md
  bundle/README.md
  bundle/pom.xml
  bundle/src/main/java/org/bf2/kas/fleetshard/bundle/BundleAssembler.java
  bundle/src/main/sh/build-push-index.sh
  bundle/src/test/java/org/bf2/kas/fleetshard/bundle/BundleAssemblerTest.java
  bundle/src/test/resources/expected-bundle/manifests/kas-fleetshard-operator.clusterserviceversion.yaml
  bundle/src/test/resources/expected-bundle/manifests/kasfleetshardhigh.priorityclass.yaml
  bundle/src/test/resources/expected-bundle/manifests/kasfleetshardmedium.priorityclass.yaml
  bundle/src/test/resources/expected-bundle/manifests/kasfleetshardreservation.priorityclass.yaml
  bundle/src/test/resources/expected-bundle/manifests/managedkafkaagents.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/expected-bundle/manifests/managedkafkas.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/expected-bundle/metadata/annotations.yaml
  bundle/src/test/resources/operator-archive/kubernetes.yml
  bundle/src/test/resources/operator-archive/manifests/kas-fleetshard-operator.clusterserviceversion.yaml
  bundle/src/test/resources/operator-archive/manifests/managedkafkaagents.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/operator-archive/manifests/managedkafkas.managedkafka.bf2.org-v1.crd.yml
  bundle/src/test/resources/operator-archive/metadata/annotations.yaml
  bundle/src/test/resources/patch.json
  bundle/src/test/resources/sync-archive/kubernetes.yml
  operator/pom.xml
  operator/src/assembly/bundle.xml
  operator/src/main/java/org/bf2/operator/KasFleetShardOperator.java
  pom.xml
  sync/pom.xml
  sync/src/assembly/bundle.xml
Labels: operator, sync, github_ci
